<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="cover-image banner-height" style="background-image: url('../../assets/img/hubeiwujiao.jpg');">
                <div class="main-page-block">
                    <app-general-search-box></app-general-search-box>
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-12 padding_bottom3p padding_top3p" *ngIf="dataLoaded">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="col-md-12 padding_top3p padding_bottom3p">
                        <div class="row">
                            <div class="col-md-12 padding_bottom3p padding_top3p institution-logo">
                                <img src="../../assets/img/logos/{{ memberInfo.prrla_member_title }}.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 padding_top3p padding_bottom3p">
                        <dl class="dl-horizontal">
                            <dt>Location: </dt>
                            <dd><strong>{{ memberInfo.prrla_member_location }}</strong></dd>
                            <dt>Phone: </dt>
                            <dd><strong>{{ memberInfo.prrla_member_phone }}</strong></dd>
                            <dt>Email: </dt>
                            <dd><strong><a href="mailto:{{ memberInfo.prrla_member_email }}">{{ memberInfo.prrla_member_email }}</a></strong></dd>
                            <dt>Web contact: </dt>
                            <dd><strong><a href="{{ memberInfo.prrla_member_web_contact }}">{{ memberInfo.prrla_member_web_contact }}</a></strong></dd>
                            <dt>Website: </dt>
                            <dd><strong><a href="{{ memberInfo.prrla_member_website }}" target="_blank">{{ memberInfo.prrla_member_website }}</a></strong></dd>
                        </dl>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        <h3 class="padding_bottom2p"><span class="bottom-line blue">{{ memberInfo.prrla_member_title }}</span></h3>
                        <p>{{ memberInfo.prrla_member_description }}</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="padding_bottom2p"><span class="bottom-line blue">Collections</span></h3>
                    </div>
                    <div *ngIf="collections.length > 0; else elseNoCollections">
                        <div class="col-md-12" *ngFor="let collectionItem of collections;">
                            <div *ngIf="collectionItem.name" (click)="collectionItemClick(collectionItem.realName)">
                                <p class="capitalize cursor-pointer"><strong>{{ collectionItem.name }}</strong><span> [ {{ collectionItem.count }} Records ]</span></p>
                            </div>
                        </div>
                    </div>
                    <ng-template #elseNoCollections>
                        <div class="col-md-12">
                            <p>No collections are currently available.</p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
