<div class="row">
    <div class="col-md-12 padding_top3p padding_bottom3p">
        <div class="cover-image banner-height" style="background-image: url('../../assets/img/hubeiwujiao.jpg');">
            <div class="main-page-block">
                <app-general-search-box></app-general-search-box>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 padding_bottom3p padding_top3p">
            <div class="col-md-12">
                <div class="col-md-4">
                    <div class="col-md-12 padding_top3p padding_bottom3p">
                        <div class="col-md-offset-2 col-md-10 padding_bottom3p padding_top3p institution-logo">
                            <img src="../../assets/img/logos/{{ memberInfo.prrla_member_title }}.png" alt="">
                        </div>
                    </div>

                    <div class="col-md-12 padding_top3p padding_bottom3p">
                        <dl class="dl-horizontal">
                            <dt>Location: </dt>
                            <dd>{{ memberInfo.prrla_member_location }}</dd>
                            <dt>Phone: </dt>
                            <dd>{{ memberInfo.prrla_member_phone }}</dd>
                            <dt>Email: </dt>
                            <dd><a href="mailto:{{ memberInfo.prrla_member_email }}">{{ memberInfo.prrla_member_email }}</a></dd>
                            <dt>Website: </dt>
                            <dd><a href="{{ memberInfo.prrla_member_website }}" target="_blank">{{ memberInfo.prrla_member_website }}</a></dd>
                        </dl>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3><span class="bottom-line blue">{{ memberInfo.prrla_member_title }}</span></h3>
                    <div class="col-md-12">
                        <p>{{ memberInfo.prrla_member_description }}</p>

                        <!--<p>{{ memberInfo.prrla_member_website }}</p>-->
                    </div>
                    <div class="col-md-4">
                        <h3><span class="bottom-line blue">Collections</span></h3>
                    </div>
                    <!--<div class="col-md-12">-->
                        <!--<p><strong>{{ collections | json }}</strong></p>-->
                    <!--</div>-->
                    <!--<div *ngIf="collections.length > 0; else elseBlock">-->
                    <!--{{collections}}-->
                    <div *ngIf="collections.length > 0">
                        <div class="col-md-12" *ngFor="let collectionItem of collections;">
                            <div *ngIf="collectionItem.name" (click)="collectionItemClick(collectionItem.realName)">
                                <p class="capitalize cursor-pointer"><strong>{{ collectionItem.name }}</strong><span> [ {{ collectionItem.count }} Records ]</span></p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="collections.length < 1">
                        <div class="col-md-12">
                            <p>No collections are currently available.</p>
                        </div>
                    <div>
                    <!--</div>-->
                    <!--<div class="col-md-12">-->
                        <!--<p>{{ collections | json }}</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
