<div class="col-md-12">
  <div class="row">
    <div class="cover-image" style="background-image: url('../../assets/img/bg-bamboo.png'); height: 100%; min-height: 700px">
      <div class="main-page-block">
        <h2>ABOUT PAGE HERE</h2>
        <div class="search">
          <input type="search" placeholder="Search the Library" (keyup.enter)="onEnter($event)">
          <div class="search-submit">
            <button type="submit" (click)="btnClick();" ></button>
            <img src="../../assets/img/search.png" alt="">
          </div>
        </div>
        <div class="background-fuzzy-white absolute-block full-width">
          <div class="col-md-12">
            <div class="col-md-offset-2 col-md-5">
              <h3 class="bottom-line orange">About PRRLA Headline</h3>
            </div>
            <div class="col-md-12">
              <div class="col-md-offset-3 col-md-5">
                <p>Lorem ipsum dolor sit amet, amet mi liberolobortis nullam, hac a est  lacinia
                  mauris adipiscing pede. Magna suspendissepellentesque varius a sit urna.Ther
                  loren ipsem oerit ac est augue lacinia mauris adipiscing pede Magna suspendisse
                  piscing pede. Ther loren ipsemest oerit ac est. </p>
              </div>
              <div class="col-md-2 text-center padding_top3p">
                <a href="#" class="btn btn-blue-outline">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>