<div class="row">
    <div class="col-md-12">
        <div class="cover-image banner-height" style="background-image: url('../../assets/img/hubeiwujiao.jpg');">
            <div class="main-page-block">
                <app-general-search-box></app-general-search-box>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--<div class="col-md-3 padding_top2p">-->
                <!--[{{ this.name }}]-->
            <!--</div>-->
            <div class="col-md-12 padding_top4p padding_bottom3p">
                <div class="col-md-3">
                    <h3><span class="bottom-line blue">Exhibitions</span></h3>
                </div>
                <div class="col-md-12">
                    <p>Blurb about the institutions. Lorem ipsum dolor sit amet, amet mi libero lobortis nullam, hac est
                        augue
                        lacinia mauris adipiscing pede. Magna suspendisse pellentesque varius a sit urna, iaculis
                        incidunt egestas
                        hendrerit ac, justo in non eleifend varius integer arcu, donecdui turpis id pellentesque, vel
                        morbi. Wisi
                        non ac. Urna nibh nunc proin accumsan donec nibh, laboriosam.</p>
                </div>
            </div>
            <div class="col-md-12">
                <div *ngIf="items.length > 0; else elseBlock">
                    <div class="">
                        <div class="col-md-12 margin-bottom5p">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div aria-label="Page navigation" class="col-md-12">
                                            <!-- pager -->
                                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination pull-right">
                                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                    <a (click)="pagerClick($event, 1)">First</a>
                                                </li>
                                                <li [ngClass]="{disabled:pager.currentPage === 1}">
                                                    <a (click)="pagerClick($event, pager.currentPage - 1)">Previous</a>
                                                </li>
                                                <li *ngFor="let page of pager.pages"
                                                    [ngClass]="{active:pager.currentPage === page}">
                                                    <a (click)="pagerClick($event, page)">{{page}}</a>
                                                </li>
                                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                    <a (click)="pagerClick($event, pager.currentPage + 1)">Next</a>
                                                </li>
                                                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                                                    <a (click)="pagerClick($event, pager.totalPages)">Last</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-6">
                                                <p>Display</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row select-wrapper-blue">
                                                    <select [(ngModel)]="pageSize" (change)="pageSizeChange()">
                                                        <option *ngFor="let number of [10, 20, 50, 100]" [ngValue]="number">
                                                            {{ number }}
                                                        </option>
                                                    </select>
                                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-6">
                                                <p>Sort by</p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row select-wrapper-blue">
                                                    <select [(ngModel)]="orderBy" (change)="orderByChange()">
                                                        <option *ngFor="let availableOrder of availableOrders"
                                                                [ngValue]="availableOrder.value">{{ availableOrder.name }}
                                                        </option>
                                                    </select>
                                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 margin-bottom5p" *ngFor="let item of items" style="min-height: 250px;">
                        <div class="col-md-4">
                            <img src='{{ item.thumbnailExists ? item.thumbnailExists : "/assets/img/title-not-found.png"}}'
                                 alt="">
                        </div>
                        <div class="col-md-8">
                            <dl class="dl-horizontal">
                                <dt>Title:</dt>
                                <dd><strong class="title-in-search-item">{{ item.title }}</strong></dd>
                                <!--<dt>Alternate Title:</dt>-->
                                <!--<dd>{{ item.alternative_title?item.alternative_title:"n/a" }}</dd>-->
                                <!--<dt>First Line:</dt>-->
                                <!--<dd>{{ item.first_line?item.first_line:"n/a" }}</dd>-->
                                <!--<br>-->
                                <!--<dt>External Link(s):</dt>-->
                                <!--<dd>{{ item.identifier?item.identifier:"n/a" }}</dd>-->
                                <!--<br><br>-->
                                <div *ngIf="item.collection">
                                    <dt>Collection:</dt>
                                    <dd>{{ item.collection?item.collection:"n/a" }}</dd>
                                </div>
                                <div *ngIf="item.institution">
                                    <dt>Institution:</dt>
                                    <dd>{{ item.institution?item.institution:"n/a" }}</dd>
                                </div>
                                <div *ngIf="item.author">
                                    <dt>Author:</dt>
                                    <dd>{{ item.author?item.author:"n/a" }}</dd>
                                </div>
                                <div *ngIf="item.decade">
                                    <dt>Date:</dt>
                                    <dd>{{ item.decade?item.decade:"n/a" }}</dd>
                                </div>
                                <!--<br>-->
                                <!--<dt>Alternative Title:</dt>-->
                                <!--<dd>n/a</dd>-->
                                <!--<dt>Subject Description:</dt>-->
                                <!--<dd>{{ item.description?item.description:"n/a" }}</dd>-->
                                <!--<dt>Abstract:</dt>-->
                                <!--<dd>n/a</dd>-->
                                <!--<br>-->
                                <!--<dt>Source:</dt>-->
                                <!--<dd>{{ item.source?item.source:"n/a" }}</dd>-->
                                <!--<dt>Rights:</dt>-->
                                <!--<dd>{{ item.rights?item.rights:"n/a" }}</dd>-->
                                <!--<dt>Language:</dt>-->
                                <!--<dd>{{ item.language?item.language:"n/a" }}</dd>-->
                                <!--<dt>Identifier:</dt>-->
                                <!--<dd>{{ item.identifier?item.identifier:"n/a" }}</dd>-->
                            </dl>
                            <div class="row">
                                <div class="col-md-12 margin-bottom5p">
                                    <a [routerLink]="['/detail', item.id]">
                                        View Details >
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a class="btn btn-block btn-blue view-button" target="_blank" [href]="item.identifier">View Item at {{ item.institution }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #elseBlock>
                    No results found.
                </ng-template>
            </div>
        </div>

</div>
