<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="cover-image banner-height" style="background-image: url('../../assets/img/hubeiwujiao.jpg');">
        <div class="main-page-block">
          <app-general-search-box></app-general-search-box>
        </div>
      </div>
    </div>
  </div>

    <div class="row padding_top2p padding_bottom3p">
      <div class="col-md-12" *ngIf="loaded">
        <ol class="breadcrumb" *ngIf="showBreadcrumbs">
          <li><a [routerLink]="['/search']" [queryParams]="{ therms: s_therms, page: this.s_page, filters: s_filters, order: s_order }">Search Results </a></li>
          <li class="active">{{ item.title | truncate: 60 }}</li>
        </ol>
        <hr *ngIf="showBreadcrumbs">
        <div *ngIf="item; else elseBlock">
          <div class="col-md-3 padding_bottom3p">
            <img src='{{ item.thumbnail_url }}' alt="">
          </div>
          <div class="col-md-6">
            <dl class="dl-horizontal">
              <div *ngIf="item.title">
                <dt>Title: </dt>
                <dd>
                  <strong *ngFor="let v of item.titles">{{ v }}<br></strong>
                </dd>
              </div>
              <br>
              <br>
              <div *ngIf="item.collection">
                <dt>Collection: </dt>
                <dd>{{ item.collection?item.collection:"n/a" }}</dd>
              </div>
              <div *ngIf="item.institution">
                <dt>Institution: </dt>
                <dd>{{ item.institution?item.institution:"n/a" }}</dd>
              </div>
              <br>
              <!--</div>-->
              <div *ngIf="item.author">
                <dt>Author: </dt>
                <dd><div *ngFor="let v of item.author">{{ v }}</div></dd>
              </div>
              <div *ngIf="item.subject">
                <dt>Subject: </dt>
                <dd><div *ngFor="let v of item.subject">{{ v }}</div></dd>
              </div>
              <br>
              <div *ngIf="item.source">
                <dt>Source: </dt>
                <dd><div *ngFor="let v of item.source">{{ v }}</div></dd>
              </div>
              <div *ngIf="item.date">
                <dt>Date: </dt>
                <dd><div *ngFor="let v of item.date">{{ v[0] }}</div></dd>
              </div>
              <br>
              <div *ngIf="item.type">
                <dt>Type: </dt>
                <dd><div *ngFor="let v of item.type">{{ v }}</div></dd>
              </div>
              <br>
              <div *ngIf="item.description">
                <dt>Description: </dt>
                <dd>
                  <div *ngFor="let v of item.description">{{ v }}</div>
                </dd>
              </div>
              <div *ngIf="item.rights">
                <dt>Rights: </dt>
                <dd><div *ngFor="let v of item.rights">{{ v }}</div></dd>
              </div>
              <br>
              <div *ngIf="item.publisher">
                <dt>Publisher: </dt>
                <dd><div *ngFor="let v of item.publisher">{{ v }}</div></dd>
              </div>
              <div *ngIf="item.language">
                <dt>Language: </dt>
                <dd><div *ngFor="let v of item.language">{{ v }}</div></dd>
              </div>
              <div *ngIf="item.identifier">
                <dt>Identifier: </dt>
                <dd>
                  <div *ngFor="let v of item.identifier">
                    <a href="{{ v }}" target="_blank">{{ v }}</a>
                  </div>
                </dd>
              </div>
            </dl>
          </div>
          <div class="col-md-3">
            <div class="padding_bottom5p" *ngIf="item.identifier">
              <!--<a target="_blank" [href]="item.identifier[0]" class="btn btn-block btn-blue view-button">View Item At {{ item.institution }}</a>-->
              <a target="_blank" [href]="item.identifier[0]" class="btn btn-block btn-blue view-button">View Item At {{ item.institution }}</a>
            </div>
            <dl>
              <!--<dt>Can I Use It?</dt>-->
              <!--<dd>-->
                <!--<p>No Re-use</p>-->
                <!--<a href="#" class="blue">© In Copyright</a>-->
              <!--</dd>-->
              <br>
              <dt><strong>Alternative Links:</strong></dt>
              <dd>
                <div *ngFor="let v of item.alternate_external_link">
                  <a href="{{ v }}" class="blue" target="_blank">View Item</a>
                </div>
              </dd>
              <br>
              <dt>Share</dt>
              <dd>
                <share-container class="list-inline social-icons"
                        direction="horizontal"
                        addedText=""
                        [expandable]="false"
                        [textEnabled]="false"
                        [platforms]="['facebook', 'twitter', 'pinterest','tumblr']"
                >
                <ul class="list-inline social-icons">
                  <li><a href="#"><img src="../../assets/img/icon-fb.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/img/icon-tw.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/img/icon-pt.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/img/icon-inst.png" alt=""></a></li>
                  <li><a href="#"><img src="../../assets/img/icon-tb.png" alt=""></a></li>
                </ul>
                </share-container>
              </dd>
            </dl>
          </div>
        </div>
        <ng-template #elseBlock>
          No result found.
        </ng-template>
      </div>
    </div>
  </div>