<div class="row">
  <div class="col-md-12">
    <div class="cover-image height200" style="background-image: url('../../assets/img/china-paper.png');">
      <div class="main-page-block">
        <div class="search">
          <input type="search" placeholder="Search the Library">
          <div class="search-submit">
            <button type="submit"></button>
            <img src="../../assets/img/search.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 padding_bottom3p">
    <div class="col-md-3 padding_top2p">
    <div class="search filter-search">
      <input type="search" placeholder="Search within results">
      <div class="search-submit">
        <button type="submit"></button>
        <img src="../../assets/img/search.png" alt="">
      </div>
    </div>
    <a href="#" class="blue">Advanced Search</a>
    <h3>FILTER</h3>
    <ul class="filter-list">
      <li>
        <a href="#" class="list-item-title active">Institution
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="glyphicon glyphicon-chevron-up"></span></a>
        <div class="filter-block">
          <div class="blue-checkbox">
            <input type="checkbox" id="1">
            <label for="1">City University of Hong Kong (32)</label>
          </div>
          <div class="blue-checkbox">
            <input type="checkbox" id="2">
            <label for="2">University of California (25)</label>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="list-item-title">Collection
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="glyphicon glyphicon-chevron-up"></span></a>
        <div class="filter-block">
          <div class="blue-checkbox">
            <input type="checkbox" id="3">
            <label for="3">City University of Hong Kong (32)</label>
          </div>
          <div class="blue-checkbox">
            <input type="checkbox" id="4">
            <label for="4">University of California (25)</label>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="list-item-title">Authors
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="glyphicon glyphicon-chevron-up"></span></a>
        <div class="filter-block">
          <div class="blue-checkbox">
            <input type="checkbox" id="5">
            <label for="5">City University of Hong Kong (32)</label>
          </div>
          <div class="blue-checkbox">
            <input type="checkbox" id="6">
            <label for="6">University of California (25)</label>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="list-item-title">Item Type
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="glyphicon glyphicon-chevron-up"></span></a>
        <div class="filter-block">
          <div class="blue-checkbox">
            <input type="checkbox" id="7">
            <label for="7">City University of Hong Kong (32)</label>
          </div>
          <div class="blue-checkbox">
            <input type="checkbox" id="8">
            <label for="8">University of California (25)</label>
          </div>
        </div>
      </li>
      <li>
        <a href="#" class="list-item-title">Decade
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="glyphicon glyphicon-chevron-up"></span></a>
        <div class="filter-block">
          <div class="blue-checkbox">
            <input type="checkbox" id="9">
            <label for="9">City University of Hong Kong (32)</label>
          </div>
          <div class="blue-checkbox">
            <input type="checkbox" id="10">
            <label for="10">University of California (25)</label>
          </div>
        </div>
      </li>
    </ul>
      <div class="col-md-12 text-center padding_top3p">
        <a class="btn btn-blue-outline" href="#">Clear Filters</a>
      </div>
  </div>
    <div class="col-md-9 border-left padding_bottom5p">
    <div class="row">
      <div class="advanced-rows col-md-12">
        <div class="row">
          <h3 class="col-md-12">Advanced Search</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-3 padding_bottom2p">
                <div class="select-wrapper-blue">
                  <select name="" id="">
                    <option value="">All of the words</option>
                  </select>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
              </div>
              <div class="col-md-3 padding_bottom2p">
                <div class="">
                  <input type="text">
                </div>
              </div>
              <div class="col-md-3 padding_bottom2p">
                <div class="select-wrapper-blue">
                  <select name="" id="">
                    <option value="">Any field</option>
                  </select>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
              </div>
              <div class="col-md-3 padding_bottom2p">
                <div class="select-wrapper-blue">
                  <select name="" id="">
                    <option value="">AND</option>
                  </select>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 margin-bottom5p">
        <div class="row">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
            <div class="row">
              <div aria-label="Page navigation">
                <ul class="pagination pull-right">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&lsaquo;</span>
                    </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">6</a></li>
                  <li><a href="#">7</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">10</a></li>
                  <li><a href="#">11</a></li>
                  <li><a href="#">12</a></li>
                  <li><a href="#">13</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&rsaquo;</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 padding_top2p">
                <div class="col-md-6">
                  <p>Display</p>
                </div>
                <div class="col-md-6">
                  <div class="row select-wrapper-blue">
                    <select name="" id="">
                      <option value="">1</option>
                    </select>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 padding_top2p">
                <div class="col-md-6">
                  <p>Sort by</p>
                </div>
                <div class="col-md-6">
                  <div class="row select-wrapper-blue">
                    <select name="" id="">
                      <option value="">1</option>
                    </select>
                    <span class="glyphicon glyphicon-chevron-down"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-12">
        <div class="col-md-4 padding_bottom5p">
          <img src="../../assets/img/title-lily.png" alt="">
        </div>
        <div class="col-md-8">
          <dl class="dl-horizontal">
            <dt>Location: </dt>
            <dd>Hong Kong</dd>
            <dt>Phone: </dt>
            <dd>424-246-8895</dd>
            <dt>Email: </dt>
            <dd>email@cityuhongkong.com</dd>
            <dt>Website: </dt>
            <dd>cityuhongkong.com</dd>
          </dl>
          <div class="row">
            <div class="col-md-12 margin-bottom5p">
              <a routerLink="/detail">View Details ></a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10">
              <a href="#" class="btn btn-block btn-blue">View item at University of Hong Kong’s site</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>