<div class="row">
  <div class="col-md-12 padding_bottom3p">
    <div class="cover-image banner-height" style="background-image: url('../../assets/img/fish.png');">
      <div class="main-page-block">
        <app-general-search-box></app-general-search-box>
      </div>
    </div>
    <div class="container">
      <div class="col-md-offset-1 col-md-10 padding_top4p padding_bottom3p">
        <h3><span class="bottom-line blue">INSTITUTIONS</span></h3>
        <div class="col-md-12 padding_top4p padding_bottom3p">
          <p>Thirty-one academic libraries surrounding the Pacific have joined together to improve access to scholarly resources. Metadata from member's digital collections have been harvested and archived to increase discovery and provide one point of access across all data.</p>
        </div>
        <div class="col-md-12 text-center">
          <div *ngFor="let institution of institutions; let i = index">
            <div class="clearfix" *ngIf="i % 3 == 0"></div>
            <div class="col-md-4 institution-list">
                <a href="/institution/?name={{ institution.realName }}">{{ institution.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<div class="row">-->
  <!--<div class="col-md-12">-->
    <!--<div class="cover-image banner-height" style="background-image: url('../../assets/img/fish.png');">-->
      <!--<div class="main-page-block">-->
        <!--<div class="search">-->
          <!--<input type="search" placeholder="Search the Library">-->
          <!--<div class="search-submit">-->
            <!--<button type="submit"></button>-->
            <!--<img src="../../assets/img/search.png" alt="">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-offset-1 col-md-10 padding_top4p padding_bottom3p ">-->

      <!--<div class="col-md-4 padding_top4p padding_bottom3p">-->
        <!--<div class="col-md-offset-2 col-md-10 padding_bottom5p">-->
          <!--<img src="../../assets/img/city.png" alt="">-->
        <!--</div>-->

        <!--<div class="padding_top5p col-md-12">-->
          <!--<dl class="dl-horizontal">-->
            <!--<dt>Location: </dt>-->
            <!--<dd>Hong Kong</dd>-->
            <!--<dt>Phone: </dt>-->
            <!--<dd>424-246-8895</dd>-->
            <!--<dt>Email: </dt>-->
            <!--<dd>email@cityuhongkong.com</dd>-->
            <!--<dt>Website: </dt>-->
            <!--<dd>cityuhongkong.com</dd>-->
          <!--</dl>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-offset-1 col-md-7">-->
        <!--<div class="col-md-8">-->
          <!--<h3 class="bottom-line blue">city university of hong Kong</h3>-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
          <!--<p>Blurb about City University of Hong Kong. Lorem ipsum dolor sit amet, amet mi libero lobortis-->
            <!--nullam, hac est augue lacinia mauris adipiscing pede. Magna suspendisse pellentesque varius-->
            <!--a sit urna, iaculis incidunt egestas hendrerit ac, justo in non eleifend varius integer arcu,-->
            <!--donec dui turpis id pellentesque, vel morbi. Wisi non ac. Urna nibh nunc proin accumsan-->
            <!--donec nibh, laboriosam ullamcorper nec vestibulum sem rutrum ex, at libero viverra diam-->
            <!--in euismod. Ligula et nonummy vitae eu vitae eget, congue pulvi. </p>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
          <!--<h3 class="bottom-line blue">collections</h3>-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
          <!--<p><strong>Cityu Electronic Theses And Dissertations </strong><span>[ 1731 Records ]</span></p>-->
          <!--<p><strong>Outstanding Academic Papers By Students </strong><span>[ 241 Records ]</span></p>-->
          <!--<p><strong>Student Works With External Awards </strong><span>[ 253 Records ]</span></p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
