<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="cover-image banner-height" style="background-image: url('../../assets/img/fish.png');">
        <div class="main-page-block">
          <app-general-search-box></app-general-search-box>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-offset-1 col-md-10">
    <div class="row">
    <div class="col-md-12 padding_top3p padding_bottom3p">
      <h3 class="padding_bottom2p"><span class="bottom-line blue">INSTITUTIONS</span></h3>
      <p>Forty academic libraries surrounding the Pacific have joined together to improve access to scholarly resources.</p>
    </div>
    <div class="col-md-12 text-center">
        <div class="institution-list column-count-3">
          <div *ngFor="let institution of institutions; let i = index">
            <a href="/institution/?name={{ institution.realName }}">{{ institution.name }}</a>
            <div class="clearfix" *ngIf="i % 3 == 0"></div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>