<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="cover-image banner-height" style="background-image: url('../../assets/img/koi-fish-copy.jpg');">
                <div class="main-page-block">
                <app-general-search-box></app-general-search-box>
                </div>
            </div>
        </div>
    </div>

    <div class="row padding_top3p padding_bottom3p">
        <div class="col-md-12">
            <div class="col-md-4">
                <h3><span class="bottom-line blue">PRL Collections</span></h3>
            </div>
            <div class="col-md-12">
                <p>PRL's collections are open access materials that represent the depth and diversity of the
                    historical and cultural resources of PRRLA’s academic and research libraries.<br>
                Choose to browse by institutions and explore the libraries, archives, and museums that have
                    contributed collections to PRL, or choose to browse collections alphabetically.</p>
            </div>
        </div>
        <div class="col-md-12 padding_top4p padding_bottom3p text-center explore-collection-control">
            <div class="col-md-offset-2 col-md-8">
                <div *ngFor="let n of list" class="col-md-6">
                    <div class="row">
                    <a class="btn btn-white btn-block" (click)="selectButton(n)" [ngClass]="{selected: isSelected(n)}">{{n}}</a>
                    </div>
                </div>
            </div>
            <div *ngIf="selected != 'Browse by Collection Title'">
                <div class="col-md-12 padding_top4p padding_bottom3p by-institution">
                    <div class="column-count-3">
                        <div *ngFor="let university of universities; let i = index">
                            <div class="clearfix" *ngIf="i % 3 == 0"></div>
                            <div class="text-left">
                                <div class="ac-item-container">
                                    <div
                                            [attr.name]="university.name"
                                            class="ac-title"
                                            (click)="toggleUniversity($event, university.realName)">
                                        <span class="item-name">{{ university.name }}</span>
                                        <span class="item-count">[{{ university.count }}]</span>
                                    </div>
                                    <div class="ac-body">
                                        <div style="margin-left: 15px;">
                                            <div *ngIf="isLoadedUniversity(university.realName); else loadingBlock">
                                                <div *ngIf="collectionsByUniversity[university.realName].length > 0; else elseBlock">
                                                    <div *ngFor="let collection of collectionsByUniversity[university.realName]" (click)="collectionClick(collection.realName, university.realName)">
                                                        <span class="item-name">{{ collection.name }}</span>
                                                        <span class="item-count">[{{ collection.count }}]</span>
                                                    </div>
                                                </div>
                                                <ng-template #elseBlock>
                                                    No collections found.
                                                </ng-template>
                                            </div>
                                            <ng-template #loadingBlock>
                                                Loading...
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="selected == 'Browse by Collection Title'">
                <div class="col-md-12 padding_top4p padding_bottom3p by-collection">
                    <div class="column-count-3">
                        <div *ngFor="let collection of collections; let i = index">
                            <div class="clearfix" *ngIf="i % 3 == 0"></div>
                            <div class="text-left">
                                <div class="ac-item-container">
                                    <div
                                            [attr.name]="collection.name"
                                            class="ac-title"
                                            (click)="toggleCollection($event, collection.realName)">
                                        <span class="item-name">{{ collection.name }}</span>
                                        <span class="item-count">[{{ collection.count }}]</span>
                                    </div>
                                    <div class="ac-body">
                                        <div style="margin-left: 15px;">
                                            <div *ngIf="isLoadedCollection(collection.realName); else loadingBlock">
                                                <div *ngIf="universitiesByCollections[collection.realName].length > 0; else elseBlock">
                                                    <div *ngFor="let university of universitiesByCollections[collection.name]"
                                                         (click)="universityClick(university.realName, collection.realName)">
                                                        <span class="item-name">{{ university.name }}</span>
                                                        <span class="item-count">[{{ university.count }}]</span>
                                                    </div>
                                                </div>
                                                <ng-template #elseBlock>
                                                    No collections found.
                                                </ng-template>
                                            </div>
                                            <ng-template #loadingBlock>
                                                Loading...
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

