<div class="row">
    <div class="col-md-12">
        <div class="cover-image height200" style="background-image: url('../../assets/img/koi-fish-copy.jpg');">
            <div class="main-page-block">
            <app-general-search-box></app-general-search-box>
            </div>
        </div>
        <div class="padding_top4p padding_bottom3p">
            <div class="col-md-12">
                <div class="col-md-4">
                    <h3 class="bottom-line blue">PRL Collections</h3>
                </div>
                <div class="col-md-12">
                    <p>Blurb about the institutions. Lorem ipsum dolor sit amet, amet mi libero lobortis nullam, hac est
                        augue
                        lacinia mauris adipiscing pede. Magna suspendisse pellentesque varius a sit urna, iaculis
                        incidunt egestas
                        hendrerit ac, justo in non eleifend varius integer arcu, donecdui turpis id pellentesque, vel
                        morbi. Wisi
                        non ac. Urna nibh nunc proin accumsan donec nibh, laboriosam.</p>
                </div>
            </div>
            <div class="col-md-12 padding_top4p padding_bottom3p text-center explore-collection-control">
                <div class="col-md-offset-2 col-md-8">
                    <div *ngFor="let n of list" class="col-md-6">
                        <div class="row">
                        <a class="btn btn-white btn-block" (click)="selectButton(n)" [ngClass]="{selected: isSelected(n)}">{{n}}</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="selected == 'Browse by Institution'">
                    <div class="col-md-12 padding_top4p padding_bottom3p by-institution">
                        <div class="col-md-4 text-left" *ngFor="let university of universities">
                            <div class="ac-item-container">
                                <div
                                        [attr.name]="university.name"
                                        class="ac-title"
                                        (click)="toggleUniversity($event)">
                                    <span class="item-name">{{ university.name }}</span>
                                    <span class="item-count">[{{ university.count }}]</span>
                                </div>
                                <div class="ac-body">
                                    <div style="margin-left: 15px;">
                                        <div *ngIf="isLoadedUniversity(university.name); else loadingBlock">
                                            <div *ngIf="collectionsByUniversity[university.name].length > 0; else elseBlock">
                                                <div *ngFor="let collection of collectionsByUniversity[university.name]" (click)="collectionClick(collection.name)">
                                                    <span class="item-name">{{ collection.name }}</span>
                                                    <span class="item-count">[{{ collection.count }}]</span>
                                                </div>
                                            </div>
                                            <ng-template #elseBlock>
                                                No collections found.
                                            </ng-template>
                                        </div>
                                        <ng-template #loadingBlock>
                                            Loading...
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="selected != 'Browse by Institution'">
                    <div class="col-md-12 padding_top4p padding_bottom3p by-collection">
                        <div class="col-md-4 text-left" *ngFor="let collection of collections">
                            <div class="ac-item-container">
                                <div
                                        [attr.name]="collection.name"
                                        class="ac-title"
                                        (click)="toggleCollection($event)">
                                    <span class="item-name">{{ collection.name }}</span>
                                    <span class="item-count">[{{ collection.count }}]</span>
                                </div>
                                <div class="ac-body">
                                    <div style="margin-left: 15px;">
                                        <div *ngIf="isLoadedCollection(collection.name); else loadingBlock">
                                            <div *ngIf="universitiesByCollections[collection.name].length > 0; else elseBlock">
                                                <div *ngFor="let university of universitiesByCollections[collection.name]" (click)="universityClick(university.name)">
                                                    <span class="item-name">{{ university.name }}</span>
                                                    <span class="item-count">[{{ university.count }}]</span>
                                                </div>
                                            </div>
                                            <ng-template #elseBlock>
                                                No collections found.
                                            </ng-template>
                                        </div>
                                        <ng-template #loadingBlock>
                                            Loading...
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
