<div class="row">
  <div class="col-md-12 padding_bottom3p">
    <div class="cover-image banner-height" style="background-image: url('../../assets/img/koi-fish-copy.jpg');">
      <div class="main-page-block">
        <app-general-search-box></app-general-search-box>
      </div>
    </div>
    <div class="container">
      <div class="col-md-offset-1 col-md-10 padding_top4p padding_bottom3p">

        <div class="col-md-5 padding_top4p">
          <div class="col-md-12">
            <p><strong>Contact Us</strong></p>
            <dl class="dl-horizontal">
              <dt>Location: </dt>
              <dd>Hong Kong</dd>
              <dt>Phone: </dt>
              <dd>424-246-8895</dd>
              <dt>Email: </dt>
              <dd>email@cityuhongkong.com</dd>
              <dt>Website: </dt>
              <dd>cityuhongkong.com</dd>
            </dl>
          </div>

          <div class="col-md-12">
            <p><strong></strong></p>
            <dl class="dl-horizontal">
              <dt> </dt>
              <dd></dd>
              <dt> </dt>
              <dd></dd>
              <dt> </dt>
              <dd></dd>
              <dt> </dt>
              <dd></dd>
            </dl>
          </div>
        </div>
        <div class="col-md-7">
          <div class="col-md-4">
            <h3><span  class="bottom-line blue">Welcome to PRL</span></h3>
          </div>
          <div class="col-md-12">
            <p>Welcome to the Pacific Rim Library (PRL): your portal to academic libraries across the Pacific Rim.
              PRL provides access to over 350,000 metadata records of unique and historically important artifacts--including books,
              audiovisual materials, artworks and more. The collections on PRL are curated by members of the
              Pacific Rim Research Library Alliance (<a href="http://pr-rla.org/" style="text-decoration:underline;" target="_blank" >PRRLA</a>
) to enhance discovery, create a shared resource,
              and promote the use of PRRLA collections. </p>
          </div>
          <div class="col-md-5">
            <h3><span class="bottom-line blue">About PRL</span></h3>
            <p></p>
          </div>
          <div class="col-md-12">
            <div class="padding_top4p padding_bottom3p">
              <p><strong>Our Vision</strong></p>
              <p>The Pacific Rim Library (PRL) improves global access to digital
                 scholarly materials with strong research and teaching value for its member communities and beyond.</p>
                 <p> To learn more about PRL and find out how to get involved visit <a href="http://pr-rla.org/" style="text-decoration:underline;" target="_blank" >PRRLA</a>.</p>

            </div>
            <div class="padding_top4p padding_bottom3p">
              <p><strong>Join</strong></p>
              <p>PRL aggregates digital content and metadata from participating PRRLA member institutions.
                If your institution is interested in joining PRRLA and contributing to the Pacific Rim Library,
                you can <a href="http://pr-rla.org/membership/?page_id=1490" style="text-decoration:underline;" target="_blank" >read about the membership process online</a>
.
</p>
            </div>
            <div class="padding_top4p padding_bottom3p">
              <p><strong></strong></p>
              <p></p>
            </div>
            <div class="padding_top4p padding_bottom3p">
              <p><strong></strong></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
