<div class="">
  <header class="padding_bottom3p">
    <nav>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right translate">
              <div id="google_translate_element"></div>
              <!--<a href="#" class="blue language-btn">Translate</a>-->
              <!--<div class="language-list">-->
                <!--<a href="#">English</a>-->
                <!--<a href="#">Czech</a>-->
                <!--<a href="#">Bengali</a>-->
                <!--<a href="#">Persian</a>-->
                <!--<a href="#">Chinese</a>-->
                <!--<a href="#">Japanese</a>-->
              <!--</div>-->
              <!--<a href="#"><img src="../../assets/img/flag-usa.png" alt=""></a>-->
              <!--<a href="#"><img src="../../assets/img/flag-corean.png" alt=""></a>-->
              <!--<a href="#"><img src="../../assets/img/flag-japan.png" alt=""></a>-->
              <!--<a href="#"><img src="../../assets/img/flag-china.png" alt=""></a>-->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h1><a routerLink="index"><span class="blue"><strong>PRRLA</strong></span> | <span class="blue">PRL</span></a></h1>
          </div>
          <div class="col-md-8">
            <ul class="nav-pills nav pull-right">
              <li><a routerLink="institutions">Institutions</a></li>
              <li><a routerLink="explore-collections">EXPLORE Collections</a></li>
              <li><a routerLink="exhibitions">Exhibitions</a></li>
              <!--<li><a routerLink="advanced-search">Advanced Search</a></li>-->
              <li><a routerLink="help">Help</a></li>
              <li><a routerLink="about">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>