<div *ngIf="prod === false;">
  <div class="alert alert-warning text-center fixed-top navbar-fixed-top" role="alert">
    TEST SITE; TEMPORARY, SAMPLE DATA
  </div>
</div>
  <div class="row">
  <header class="">
    <nav>
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right translate">
              <div id="google_translate_element"></div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-9">
            <a routerLink="index" class="logo"><img src="../../assets/img/prrla-logo.png" alt=""></a>
          </div>
          <div class="col-md-8">
            <ul class="nav-pills nav pull-right">
              <li><a routerLink="institutions">Institutions </a></li>
              <li><a routerLink="explore-collections">EXPLORE Collections</a></li>
              <li><a href="http://pr-rla.org" target="_blank">Visit PRRLA</a></li>
              <li><a routerLink="help">Help</a></li>
              <li><a routerLink="about">About Us</a></li>
            </ul>
          </div>
        </div>
    </nav>
  </header>
</div>