<footer class="height100 navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row footer-links">
      <a routerLink="institutions">Institutions</a>
      <a routerLink="explore-collections">EXPLORE Collections</a>
      <a routerLink="exhibitions">Exhibitions</a>
      <!--<a routerLink="advanced-search">Advanced Search</a>-->
      <a routerLink="footer-help">Help</a>
      <a routerLink="footer-about">About Us</a>
      <!--<a href="#"> About PRRLA</a>-->
    </div>
  </div>
  <p class="copyright">PRRLA Copyright ©2016. All Rights Reserved. Hosted by HKU Libraries. Powered by Omeka</p>
</footer>