<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="cover-image height600" style="background-image: url('../../assets/img/bg-bamboo.png');">
        <div class="main-page-block index-page">
          <h1 class="padding_bottom3p">EXPLORE OUR COLLECTIONS</h1>
          <app-general-search-box></app-general-search-box>
          <div class="background-fuzzy-white absolute-block full-width">
            <div class="col-md-12 padding_top3p">
              <div class="col-md-3 text-center padd">
                <h3><span class="bottom-line orange">ABOUT PRRLA </span></h3>
              </div>
              <div class="col-md-12 padding_top10">
                <div class="col-md-offset-1 col-md-9">
                  <p>The Pacific Rim Research Libraries Alliance, also known as PRRLA, focuses on cooperative 
                    ventures among academic libraries located around the Pacific Rim to improve access to scholarly 
                    research materials. The Pacific Rim Library (PRL) Project was created to improve global access 
                    to digital resources with strong research and teaching value for its member communities and beyond.
                    </p>
                </div>
                <div class="col-md-2 text-center padding_top2p">
                  <a [routerLink]="['/about']" class="btn btn-blue-outline">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="row">
          <div class="cover-image height275" style="background-image: url('../../assets/img/bottles.png');">
            <div class="absolute-block background-fuzzy-orange">
                <div class="row">
                  <div class="col-md-12">
                    <h3><span class="bottom-line">EXPLORE COLLECTIONS</span></h3>
                  </div>
                    <div class="col-md-12 padding_top3p">
                      <p>PRL's collections are open access materials that represent the depth and diversity of the
                        historical and cultural resources of PRRLA’s academic and research libraries.
                        </p>
                    </div>
                    <div class="col-md-12 put-element-bottom">
                        <a [routerLink]="['/explore-collections']" class="btn btn-white">Learn More</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="cover-image height275" style="background-image: url('../../assets/img/china-paper.png');">
            <div class="absolute-block background-fuzzy-red">
                <div class="row">
                  <div class="col-md-12 padding_bottom4p">
                    <h3><span class="bottom-line">PRRLA MEMBERS</span></h3>
                  </div>
                    <div class="col-md-12 padding_top3p">
                        <p>Over forty academic libraries surrounding the Pacific have joined together to improve access
                        to scholarly resources. Metadata from member's digital collections have been harvested and
                        archived to increase discovery and provide one point of access across all data.
                        </p>
                    </div>
                    <div class="col-md-12 put-element-bottom">
                        <a [routerLink]="['/institutions']" class="btn btn-white">Learn More</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
