<div class="col-md-12">
  <div class="row">
    <div class="cover-image height600" style="background-image: url('../../assets/img/bg-bamboo.png');">
      <div class="main-page-block">
        <h2>ENGAGING HEADLINE GOES HERE.</h2>
        <app-general-search-box></app-general-search-box>
        <div class="background-fuzzy-white absolute-block full-width">
          <div class="col-md-12">
            <div class="col-md-offset-2 col-md-5">
              <h3 class="bottom-line orange">About PRRLA Headline</h3>
            </div>
            <div class="col-md-12">
              <div class="col-md-offset-3 col-md-5">
                <p>Lorem ipsum dolor sit amet, amet mi liberolobortis nullam, hac a est  lacinia
                  mauris adipiscing pede. Magna suspendissepellentesque varius a sit urna.Ther
                  loren ipsem oerit ac est augue lacinia mauris adipiscing pede Magna suspendisse
                  piscing pede. Ther loren ipsemest oerit ac est. </p>
              </div>
              <div class="col-md-2 text-center padding_top3p">
                <a href="#" class="btn btn-blue-outline">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="row">
        <div class="cover-image height300" style="background-image: url('../../assets/img/bottles.png');">
          <div class="absolute-block background-fuzzy-orange">
            <div class="col-md-12 row">
              <h3 class="bottom-line">EXPLORE COLLECTIONS</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, amet mi liberolobortis nullam, hac a est  lacinia
              mauris adipiscing pede. Magna suspendissepellentesque varius a sit urna.Ther
              loren ipsem oerit ac est augue lacinia mauris adipiscing pede Magna suspendisse
              piscing pede. Ther loren ipsemest oerit ac est. </p>
            <a [routerLink]="['/explore-collections']" class="btn btn-white">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="cover-image height300" style="background-image: url('../../assets/img/china-paper.png');">
          <div class="absolute-block background-fuzzy-red">
            <div class="col-md-12 row">
              <h3 class="bottom-line">PRRLA MEMBERS</h3>
            </div>
            <p>Lorem ipsum dolor sit amet, amet mi liberolobortis nullam, hac a est  lacinia
              mauris adipiscing pede. Magna suspendissepellentesque varius a sit urna.Ther
              loren ipsem oerit ac est augue lacinia mauris adipiscing pede Magna suspendisse
              piscing pede. Ther loren ipsemest oerit ac est. </p>
            <a [routerLink]="['/institutions']" class="btn btn-white">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>