<div>
    <div *ngFor="let university of universities" class="ac-item-container">
        <div
            [attr.name]="university.name"
            class="ac-title"
            (click)="toggleUniversity($event)">
            <span class="item-name">{{ university.name }}</span>
            <span class="item-count">[{{ university.count }}]</span>
        </div>
        <div class="ac-body">
            <div style="margin-left: 15px;">
                <div *ngIf="isLoaded(university.name); else loadingBlock">
                    <div *ngIf="collectionsByUniversity[university.name].length > 0; else elseBlock">
                        <div *ngFor="let collection of collectionsByUniversity[university.name]">
                            <span class="item-name">{{ collection.name }}</span>
                            <span class="item-count">[{{ collection.count }}]</span>
                        </div>
                    </div>
                    <ng-template #elseBlock>
                        No collections found.
                    </ng-template>
                </div>
                <ng-template #loadingBlock>
                    <div>
                        Loading...
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<style>
    .ac-item-container .ac-body{
        display: none;
    }

    .ac-item-container.active .ac-body{
        display: block;
    }
</style>