@font-face {
    font-family: "Proxima Nova";
    src: url('../fonts/Proxima Nova Regular.eot'),
    url('../fonts/Proxima Nova Regular.woff2') format('woff2'),
    url('../fonts/Proxima Nova Regular.woff') format('woff'),
    url('../fonts/Proxima Nova Regular.ttf')  format('truetype'),
    url('../fonts/Proxima Nova Regular.svg#../fonts/Proxima Nova Regular') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Proxima Nova";
    src: url('../fonts/Proxima Nova Bold.eot'),
    url('../fonts/Proxima Nova Bold.woff2') format('woff2'),
    url('../fonts/Proxima Nova Bold.woff') format('woff'),
    url('../fonts/Proxima Nova Bold.ttf')  format('truetype'),
    url('../fonts/Proxima Nova Bold.svg#../fonts/Proxima Nova Bold') format('svg');
    font-weight: 700;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
strong {
    font-weight: 700;
}
img {
    max-width: 100%;
}
ol, ul {
    list-style: none;
    margin: 1em 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
textarea {
    resize: vertical;
    font-size: 14px;
    color: #666666;
}
a, a:link, a:visited, a:active, a:hover {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
*{
    margin: 0;
    padding: 0;
}
select, option{
    -moz-appearance : none;
    -webkit-appearance : none;
    background : none;
}
table td {
    padding: 10px;
}
ol{
    list-style: decimal;
    list-style-position: inside;
}
ul{
    list-style-type: none;
}
.content ul {
    list-style: disc;
    list-style-position: inside;
}
i{
    font-style: italic;
}
em, i{
    font-weight: 300
}
html, body{
    height: 100%;
}
body{
    font-family: 'Proxima Nova',sans-serif;
}

/*.container,*/
/*.app-root,*/
.site-height-full{
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px;

    /*min-height: 100%;*/
    /*height: auto !important;*/
    /*height: 100%;*/

    /*margin: 0 auto -112px;*/
    /*min-height: calc(100% - 37px - 15px - 15px - 50px - 136px - 20px - 1px);*/
}
.site-height-full:after {
    content: "";
    display: block;
}
app-footer, .site-height-full:after {
    height: 100px;
}
header{
    padding-top: 60px;
}
.nav{
    margin-top: 20px;
}
.nav>li>a{
    padding: 10px;
}
.nav-pills > li > a{
    text-transform: uppercase;
    color: inherit;
}
.language-btn{
    z-index: 20;
}
.goog-te-gadget-simple, .goog-te-gadget-simple span{
    border: none;
    color: #1b75bb!important;
}
.goog-te-gadget-simple img{
    display: none;
}
.goog-te-gadget-simple .goog-te-menu-value{
    color: #1b75bb!important;
}
.goog-te-menu-value > span{
    border: none!important;
}
/*.translate .language-btn.active, .translate .language-btn:hover{*/
    /*color: #fff;*/
/*}*/
/*.translate .language-btn:after{*/
    /*content: '\e114';*/
    /*font-family: 'Glyphicons Halflings';*/
    /*color: inherit;*/
    /*cursor: pointer;*/
    /*pointer-events: all;*/
    /*top: 3px;*/
    /*left: 5px;*/
    /*font-weight: inherit;*/
    /*position: relative;*/
/*}*/
/*.translate .language-btn:hover:after, .language-btn.active:after{*/
    /*content: '\e113';*/
/*}*/
/*.translate .language-list{*/
    /*display: none;*/
    /*background-color: #1b75bb;*/
    /*opacity: 0.85;*/
    /*width: 170px;*/
    /*position: absolute;*/
    /*top: -60px;*/
    /*right: -27px;*/
    /*padding: 100px 10px 5px 20px;*/
    /*z-index: 10*/
/*}*/
/*.translate .language-list a{*/
    /*color: #fff;*/
    /*display: inline-block;*/
    /*width: 100%;*/
/*}*/
/*.translate .language-btn.active ~ .language-list, .translate  .language-btn:hover ~ .language-list{*/
    /*display: block;*/
/*}*/
.list-inline>li{
    padding-right: 4px;
    padding-left: 4px;
}
.blue{
    color: #1b75bb;
}
.btn.view-button{
    text-transform: none;
    font-size: 12px;
    padding: 6px;
}
.btn{
    border-radius: 0;
    text-transform: uppercase;
    white-space: normal;
}
.btn-white{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white:active{
    background-color: #fff;
    color: #000;
}
.btn-blue-outline{
    color: #000;
    background-color: transparent;
    border-color: #1b75bb;
}
.btn-blue-outline:hover,
.btn-blue-outline:focus,
.btn-blue-outline:active{
    background-color: #1552bb;
    color: #fff;
}
.btn-blue{
    color: #fff;
    background-color: #1b75bb;
    border-color: #1b75bb;
}
.cover-image{
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.height600{
    height:600px;
}
.height300{
    height:300px;
}
.height200{
    height:200px;
}
.exhibitions-height{
    height: 160px;
}
.banner-height{
    height:130px;
}
.height100{
    height:100px;
}
.translate a{
    margin-left: 5px;
    color: #1b75bb;
}
.translate img{
    width: 25px;
}
.capitalize{
    text-transform: capitalize;
}
.main-page-block{
    text-align: center;
    /*padding-top: 5%;*/
    color: #fff;
    position: relative;
    top: 40%;
}
.main-page-block.index-page{
    text-align: center;
    padding-top: 5%;
    color: #fff;
    position: inherit;
}
.absolute-block{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 30%;
    color: #fff;
    padding: 25px 15px 0;
}
.absolute-block h3{
    position: relative;
    display: inline-block;
}
.absolute-block.full-width{
    right: 0;
    top: 50%;
    bottom: 15%;
    color: #000;
    text-align: left;
}
.bottom-line{
    position: relative;
}
.bottom-line:after{
    content:' ';
    position: absolute;
    display:block;
    width: 60%;
    margin: 3px 0 0;
    border-bottom: 1px solid #fff;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    /*box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);*/
    /*-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);*/
    /*-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);*/
    left: 49%;
    transform: translateX(-49%);
    /*content: '';*/
    /*position: absolute;*/
    /*top: 110%;*/
    /*height: 1px;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*background-color: #fff;*/
    /*width: 35%;*/
}
.search{
    position: relative;
    margin: auto;
    width: 50%;
    background-color: #fff;
    height: 30px;
}
.search input[type="search"]{
    background-color: #fff;
    color: #000;
    border: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.search-submit, .search-submit button[type="submit"], .search-submit img{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 20px;
    height: 20px;
}
.search-submit button[type="submit"]{
    background: transparent;
    opacity: 0;
    z-index: 10;
}
.breadcrumb{
    background-color: #fff;
    padding: 0;
}
.dl-horizontal{
    word-break: break-all;
}
.dl-horizontal dt {
    width: 100px;
    text-align: left;
    font-weight: 400;
    color: #808285;
}
.dl-horizontal dd {
    margin-left: 150px;
    /*word-break: break-all;*/
    word-break: break-word;
}
.social-icons img{
    width: 25px;
}
.pagination > li > a, .pagination > li > span{
    padding: 2px 5px;
    border: none;
    color: #4f4f4f;
}
.search.filter-search{
    margin: 15px 0;
    width: 100%;
    border: 1px solid #1b75bb;
    height: 30px;
}
.search.filter-search input[type="search"]{
    text-align: left;
    padding-left: 10px;
}
.search.filter-search .search-submit,
.search.filter-search .search-submit button[type="submit"],
.search.filter-search .search-submit img{
    width: 17px;
    height: 17px;
}
.filter-list .list-item-title{
    width: 100%;
    position: relative;
    display: inline-block;
    padding: 5px 0 10px;
    margin: 10px 0 5px;
    border-bottom: 1px solid #1b75bb;
    cursor: pointer;
}
.filter-list .list-item-title.active{
    border-bottom: none;
}
.filter-list .list-item-title:after{
    position: absolute;
    right: 5px;
    top: 7px;
    color: #1b75bb;
    pointer-events: all;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 0.85em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.8em;
}
.filter-list .list-item-title.active:after{
    right: 5px;
    transform: rotate(45deg);
}
.filter-list .list-item-title ~ .filter-block{
    display: none;
}
.filter-list .list-item-title.active ~ .filter-block{
    display: block;
}
.filter-block{
    border: 1px solid #1b75bb;
    max-height: 200px;
    overflow-y: auto;
}
.blue-checkbox{
    position: relative;
    color: #4f4f4f;
    width: 100%;
    border-bottom: 1px solid #1b75bb;
    padding: 5px;
}
.blue-checkbox input[type="checkbox"]{
    float: right;
    display: none;
}
.blue-checkbox  label{
    margin-bottom: 0;
    font-weight: 300;
    width: 100%;
    padding-right: 15px;
    cursor: pointer;
}
.blue-checkbox  label:before{
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid #ccc;
    position: absolute;
    right: 3px;
    top: 8px;
}
.blue-checkbox input[type="checkbox"]:checked + label:after{
    content: '✔';
    right: 6px;
    position: absolute;
    top: 5px;
}
.blue-checkbox:last-child{
    border: none;
}
.select-wrapper-blue{
    position: relative;
    height: 20px;
    border: 1px solid #1b75bb;
}
.select-wrapper-blue select{
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 20px;
}
.select-wrapper-blue span{
    position: absolute;
    top: 3px;
    right: 5px;
    pointer-events: none;
    color: #4f4f4f;
}
/*  accordion*/
/*.panel-default, .panel-default>.panel-heading{*/
    /*background-color: transparent;*/
    /*border: none;*/
    /*box-shadow: none;*/
    /*padding: 0 0 5px 0;*/
/*}*/
/*.panel-default>.panel-heading+.panel-collapse>.panel-body{*/
    /*border: none;*/
/*}*/
.ac-item-container .ac-body{
    display: none;
}
.ac-item-container.active .ac-body{
    display: block;
}
.ac-title, .panel-title{
    font-weight: 700;
    font-family: 'Proxima Nova', sans-serif;
    cursor: pointer;
    text-transform: capitalize;
}
.ac-title:before, .panel-title:before{
    font-family: 'Glyphicons Halflings';
    content: '\e081';
    border-radius: 100%;
    padding: 0 7px;
    color: #000;
    cursor: pointer;
    pointer-events: all;
    top: 3px;
    position: relative;
}
.item-name, .item-count{
    cursor: pointer;
    text-transform: capitalize;
    line-height: 18px;
}
.ac-item-container.active .ac-title:before, .panel.panel-default.dropup .panel-title:before{
    content: '\e082';
}
.ac-body, .panel-body{
    font-family: 'Proxima Nova', sans-serif;
    padding: 0;
    margin-left: 15px;
    color: #4f4f4f;
    font-weight: 300;
}
/*explore-collection-control*/
.explore-collection-control .btn-white{
    color: #4f4f4f;
    border-color: #4f4f4f;
}
.explore-collection-control .btn-white.selected{
    color: #fff;
    border-color: #1b75bb;
    background-color: #1b75bb;
}
.explore-collection-item{
    color: #4f4f4f;
    font-weight: 300;
}
.explore-collection-item strong {
    color: #000;
}
.institution-list a{
    color: #4f4f4f;
    line-height: 26px;
    font-size: 14px;
}
.bottom-line.orange:after{
    border-color: rgb(235, 123, 0);
}
.bottom-line.blue:after{
    border-color: rgb(27, 117, 187);
}
.background-fuzzy-red{
    background-color: rgba(235, 5, 0, 0.50);
}
.background-orange{
    background-color: rgb(235, 123, 0);
}
.background-fuzzy-orange{
    background-color: rgba(235, 123, 0, 0.50);
}
.background-fuzzy-white{
    background-color: rgba(255, 255, 255, 0.5);
}
.title-in-search-item{
    font-size: 20px;
    line-height: 18px;
}
.advanced-rows{
    background-color: #edf3f7;
    padding: 10px 30px;
}
.advanced-rows h3{
    color: #808285;
}
.advanced-rows input{
    height: 21px;
    width: 100%;
    padding: 0 5px;
    color: #808285;
}
.border-left{
    border-left: 1px solid #7c7e7f;
}
.navbar-default.navbar-fixed-bottom{
    color: #fff;
    background-color: #7c7e7f;
    padding: 25px 15px;
}
app-footer{
    /*float: left;*/
    /*margin-top: 150px;*/
    display: block;
    background-color: #7c7e7f;
    padding: 25px 15px;
    color: #fff;
    clear: both;
}
footer{
    background-color: #7c7e7f;
    /*padding: 25px 15px;*/
    /*color: #fff;*/
    /*clear: both;*/
}
.footer-links{
    padding-bottom: 15px;
}
.footer-links a{
    margin-right: 10px;
    color: inherit;
}
.copyright{
    font-size: 12px;
}
.cursor-pointer{
    cursor: pointer;
}
.margin-bottom5p{
    margin-bottom: 5%;
}

.padding_top2p {
    padding-top: 2%;
}

.padding_top3p {
    padding-top: 3%;
}

.padding_top4p {
    padding-top: 4%;
}

.padding_top5p {
    padding-top: 5%;
}

.padding_top1px {
    padding-top: 1px;
}

.padding_top10 {
    padding-top: 10px;
}

.padding_bottom2p {
    padding-bottom: 2% !important;
}

.padding_bottom3p {
    padding-bottom: 3% !important;
}

.padding_bottom5p {
    padding-bottom: 5% !important;
}

.padding_bottom10p {
    padding-bottom: 10% !important;
}
.padding-bottom20{
    padding-bottom: 20px;
}


a{
    text-decoration:none;
}
.ic{
    font-size: 1.2rem;
}
.n2s-share-btn[_ngcontent-c1]{
    height: 32px;
    width: 32px;
    float: left;
    font-size:24px;
    cursor:pointer;
    color:#eee;
    border-radius: 2px;
    /*center icons*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*disallow selection*/
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: transparent;
    background-size: cover;
}
.n2s-horizontal-margin{
    margin: 0 5px;
}
.n2s-vertical-margin{
    margin: 5px 0;
}
.n2s-share-btn-with-text{
    padding:0 10px 0 5px;
    width:auto;
}
.n2s-share-btn:hover{
    color:#ffffff;
}
.n2s-shareText{
    margin-left: 5px;
    font-size: 14px;
    font-family: helvetica;
}
.n2s-share-btn-facebook{
    /*background: none!important;*/
}
.social-icons .n2s-share-btn-facebook{
    background-color: transparent;
    background-image: url('assets/img/icon-fb.png')!important;
    background-size: cover!important;
}
.n2s-share-btn-twitter{
    background-image: url('assets/img/icon-tw.png')!important;
    background-size: cover!important;
}
.n2s-share-btn-google-plus{
    background:#eb4026;
}
.n2s-share-btn-linkedin{
    background:#0074a1;
}
.n2s-share-btn-stumbleUpon{
    background:#ff4e2e;
}
.n2s-share-btn-tumblr{
    background-image: url('assets/img/icon-tb.png')!important;
    background-size: cover!important;
}
.n2s-share-btn-pinterest{
    background-image: url('assets/img/icon-pt.png')!important;
    background-size: cover!important;
}
.n2s-share-btn-instagram{
    background-image: url('assets/img/icon-inst.png')!important;
    background-size: cover!important;
}
.n2s-share-btn-reddit{
    background: #FF5700;
    font-size: 1.1rem;
}
.n2s-share-btn-mail{
    background:#ff2e40;
}

@media (max-width: 991px) {
    .border-left{
        border-left: none;
    }
}
@media (min-width: 868px) {
    .absolute-block{
        padding-top: 0;
    }
}
@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 100px;
        text-align: left;
        color: #808285;
    }
    .dl-horizontal dd {
        margin-left: 100px;
    }
}

#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    cursor: wait;
    display: none;
}

/*.goog-te-banner-frame.skiptranslate {*/
    /*display: none !important;*/
/*}*/
/*body {*/
    /*top: 0px !important;*/
/*}*/

.error-box{
    margin-top: 1rem;

    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
